.slideshow {
    position: relative;
    width: 1240px;
    height: 415px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .slideshow__button {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .slideshow__button--prev img {
    transform: rotate(180deg);
    margin-left: 10px;
  }
  
  .slideshow__button--next {
    right: 10px;
    
  }
  
  .slideshow__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slideshow__counter {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    color: white;   
    font-size: 18px;
    font-weight: 500;
  }
  
  

  