.slideshow {
  position: relative;
  width: 100%;
  height: 415px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 50px;

  &__button {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    background-color: transparent;
    border: none;
    cursor: pointer;

    &--prev img {
      transform: rotate(180deg);
      margin-left: 10px;
    }

    &--next {
      right: 10px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__counter {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    color: white;   
    font-size: 18px;
    font-weight: 500;
  }
  @media (max-width:375px) {
    width: 323px;
    
    &__counter{
      display: none;
    }
  }
}
