.about-leader{
  display: flex;
  flex-direction: column;
  align-items: center;

  .about-banner {
    @media (max-width: 375px) {
      width: 336px;
      height: 223px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1023px;

  @media (max-width:375px) {
    width: 335px;
    
    
  }
  
}
