.card-container {
  box-sizing: border-box;
  border-radius: 25px;
  width: 100%;
  margin-top: 43px;
  margin-bottom: 43px;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  justify-content: center;
  margin: auto;
  background-color: #F6F6F6;
  padding-top: 26px;

  @media (max-width: 1088px) {
    grid-template-columns: 48% 48%;
    justify-items: center;
  }
  @media (max-width: 768px) {
    grid-template-columns: 100%;
    padding: 15px;
    background-color: transparent;
  }
}
