.collapse {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 30px 0 30px 0;

  &__title {
    background-color:#FF6060;
    border-radius: 5px;
    padding: 10px 20px 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
    font-size: 24px;
    font-weight: 500px;
    box-sizing: border-box;
  }
  &__img {
    transform-origin: center;
    transition: transform 0.3s ease-out;
  }
  
  &__img.rotate {
    transform: rotate(-180deg);
  }
  
  &__content {
    width: 100%;
    background-color:#F6F6F6;
    color:#FF6060;
    font-size: 18px;
    line-height:145%;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.5s ease-out;
    opacity: 0;
    padding: 10px;
    box-sizing: border-box;
  }
  
  &__content.open {
    max-height: 500px; 
    opacity: 1;
  }
}

.collapse--about {
  width: 1023px;
  height: auto;
}

.collapse--apartement {
  width: 589px;
  height: auto;
}
