.header{
    display: flex;
    justify-content: space-between;
    width: 1240px;
    height: 68px;
    align-items: center;
    margin-top: 45px;

    &__logo{
        width: 210px;
        height: auto;
    }

    &__nav {
        ul{
        list-style: none;
        display: flex;
        gap:57px;
        }

        &-link{
            color: #FF6060;
            text-align: right;
            font-family: Montserrat;
           font-size: 24px;
            font-style: normal;
            font-weight: 500;
            text-decoration: none;

            &:hover,&.active{
                text-decoration: underline;
            }
        }
    }
}