.header{
    display: flex;
    justify-content: space-between;
    width: 1240px;
    height: auto;
    align-items: center;
    margin-top: 45px;

    &__logo{
        width: 210px;
        height: auto;

        img {
            width: 100%; 
            height: auto;
        }
    }

    &__nav {
        ul{
            list-style: none;
            display: flex;
            gap:57px;
        }

        &-link{
            color: #FF6060;
            text-align: right;
            font-family: Montserrat;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            text-decoration: none;

            &:hover:not(.active) {
                text-decoration: underline;
            }

            &.active {
                text-decoration: underline;
            }
        }
    }

    @media (min-width: 768px) {
        width: 1240px;
        height: 68px;

        &__logo{
            width: 210px; 

            img {
                width: 100%; 
            }
        }
    }

    @media (max-width: 767px) {
        width: 335px;
        height: auto;
        margin: 20px 20px 27px 20px;

        &__logo{
            width: 145px;

            img {
                width: 100%; 
            }
        }

        &__nav {
            ul {
                gap: 26px;
            }
            &-link{
                
                font-size: 12px; 
            }
        }
    }
}
