.footer {
    background-color: black;
    width: 1440px;
    margin-left: calc((100% - 1440px) / 2); /* Ajout d'une marge gauche calculée pour centrer le footer horizontalement */
    height: 209px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    &__logo {
        margin-bottom: 10px;
    }

    &__text {
        font-size: 14px;
    }

    @media (max-width: 768px) {
        height: 85px;
    }
}
