//variable pour la couleur de superposition
$overlay-color: rgba(0, 0, 0, 0.25);

// mixin pour l'image de fond
@mixin background-image($image) {
  background-image: linear-gradient($overlay-color, $overlay-color), url($image);
  background-blend-mode: multiply;
}

.banner {
  width: 1240px;
  height: 223px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-position: center;
  margin-top: 50px;
  
  //mixin pour l'image de fond
  @include background-image("../../assets/kasa-banner-ocean.jpg");
  
  &__text {
    font-size: 48px;
    font-weight: 400;
    
  }
}
